<% if @issue.present? && @issue.issue_repositories.any? %>
  <li>
    <%= link_to(
      l(:label_git_commits),
      issue_git_commits_path(@issue),
      class: 'git-commits-tab'
    ) %>
  </li>
<% end %>

